* {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

body {
	color: #DDD;
	background-color: #111;
	padding: 16px;
	font-family: 'Helvetica Neue', 'Arial Nova', sans-serif;
	font-size: 16px;
}

.content-holder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	background-color: #222;
}

#header {
	background-color: #333;
	padding: 8px;
}

#menu {
	margin: 8px;
	padding: 8px;
	text-align: center;
}

.menu-item {
	margin: 8px;
	padding: 8px;
	color: #222;
	font-weight: bold;
	background-color: #CCC;
}

.menu-item a {
	text-decoration: none;
}

h1, h2, h3, p {
	padding-bottom: 16px;
}

ul, ol {
	padding-left: 32px;
	padding-bottom: 16px;
}

.post-body-image-holder, .post-image-holder {
	width: 100%
}

.post-body-image, .post-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid #222 2px;
	max-width: 100%;
}

.post-body-image:hover, .post-image:hover {
	border: solid #ddd 2px;
}

.post-image-holder + .post-image-holder {
	margin-top: 8px;
}

.post-files {
	margin-top: 16px;
	padding: 8px;
	display: block;
	background-color: rgba(255,255,255,0.1);
	border-radius: 4px;
}

.post-file {
	padding-bottom: 8px;
}

.post-file a {
	padding: 8px;
	display: block;
	background-color: rgba(255,255,255,0.1);
	border-radius: 4px;
}

.post-file a:hover {
	background-color: rgba(255,255,255,0.2);
}

.blog-post-content img {
	max-width: 100%;
	max-height: 600px;
}

.blog-item-holder {
	max-width: 100%;
	margin: 8px;
	padding: 8px;
	border-radius: 8px;
	background-color: rgba(255,255,255,0.1);
}

.blog-item-holder:hover {
	background-color: rgba(255,255,255,0.2);
}

.blog-item-link {
	text-align: center;
	text-decoration: none;
}

.blog-item-title {
	font-size: 24px;
}

.blog-item-image {
	display: block;
	max-height: 300px;
	max-width: 300px;
	padding: 8px;
}

.blog-item-image img {
	max-height: 100%;
	max-width: 100%;
}

.blog-item-blurb-holder {
	text-align: left;
	display: flex;
	max-height: 100%;
	max-width: 100%;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.2);
}

.blog-item-blurb {
	padding: 8px;
	max-height: 240px;
	overflow-clip: 240px;
	max-height:200px;
	overflow:hidden;
	text-overflow: ellipsis;
	mask-image: linear-gradient(
			rgba(221, 221, 221, 1.0) 0%,
			rgba(221, 221, 221, 1.0) 60%,
			rgba(221, 221, 221, 0.7) 70%,
			rgba(221, 221, 221, 0.5) 80%,
			rgba(221, 221, 221, 0.2) 80%,
			rgba(221, 221, 221, 0.0) 100%
	);
}

#body {
	background-color: #333;
	padding: 8px;
}

#footer {
	font-size: 12px;
	padding: 8px;
	text-align: center;
}

h1 {
	font-size: 32px;
	width: 100%;
	text-align: center;
}
