{% extends "base.html" %}

{% block title %}
	twa.ninja - The Personal Website of Tim Anderson
{% endblock title %}

{% block content %}
<div class="body-content" id="body-content">
	<p>Tim Anderson (also known around the internet as <em>kiyoshigawa</em>) is a Utah-native maker / hacker, and this is his personal website. It's here as a place to show off some of the things that Tim has done. The <a href="/blog">Blog</a> has writeups for many of my projects over the years, as well as anything else I thought was interesting enough to put up on the internet. The <a href="/github">GitHub</a> page has links to some of my more interesting GitHub repos, so you don't need to wade through all the repos from the distant past to find the interesting things.</p>
	<p>Tim has been a member of the local utah Hackerspace / Makerspace scene since its inception in late summer of 2009 with HackSLC. HackSLC later became the Transistor, which currently still persists as <a href="https://801labs.org/">801 Labs</a>. I was also a founding member of <a href="https://makesaltlake.org">MakeSLC</a>, though I don't have much to do with MakeSLC currently.</p>
</div>
{% endblock content %}
